body{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    background-color: rgb(16, 16, 16);   
}
html{
    scroll-behavior: smooth;
}
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    min-height: 80vh;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0 ;
    padding-top: 0;
    text-align: center; 
    color: white;
    background: url('Albert Einstein.jpg') no-repeat center center/ cover;
}

.flex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.position{
    font-size: 4.5rem;
    margin-top: 0;
    top: 10rem;
    align-items: right;
    margin-bottom: 1rem;
    padding-top: 3rem;
    font-style:'EB Garamond',serif ;
    font-weight: 700;
}
.tag-line{
    margin-top: 0;
    padding-top: 0;
    font-size: 1.5rem;
    margin-bottom: 7rem;
}
.btn-default1,.btn-default2{
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 0.8rem;
    color: white;
    text-decoration: none;
    margin-top: 5rem;
    margin-right: 2rem;
   
}
.btn-default1:hover,.btn-default2:hover{
    background-color: #656565;
}
#synopsis{
    padding: 5rem 2rem; 
}
.grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
 
}
.image{
    background: url('albert-einstein-png-8.png') no-repeat center center/ contain;
}
#heading1{
    color: #fff;
    font-size: 2.5rem;
    margin-top: 3.5rem;
}
.syn{
    color: white;
    font-size: 1.5rem;    
}
.heading2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    margin-top: 7rem;
}
#blockquote{
    max-width: 100%;
    align-items: center;
    margin: 5rem;
    padding: 5rem;
    margin-bottom: 7rem;
    background-color: #25303B;
}
q{
    color: white;
    font-size: 2.5rem;
}
#cite{
    color: #fff;
    text-align: right;
    margin-left: 8px;
    padding-left: 8px;
    font-size: 1.5rem;
}
section#timeline {
    width: 80%;
    margin: 20px auto;
    position: relative;
}
section#timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}
section#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}
section#timeline article:after {
    content: '';
    display: block;
    clear: both;
}
section#timeline article div.inner {
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}
section#timeline article div.inner span.date {
    display: block;
    width: 60px;
    height: 50px;
    padding: 5px 0;
    position: absolute;
    top: 0%;
    left: 50%;
    margin: 0 0 0 -32px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    background: #25303B;
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 7px #25303B;
    z-index: 1;
}
section#timeline article div.inner span.date span {
    display: block;
    text-align: center;
}
section#timeline article div.inner span.date span.day {
    font-size: 10px;
}
section#timeline article div.inner span.date span.month {
    font-size: 18px;
}
section#timeline article div.inner span.date span.year {
    margin-top: 3px; 
    padding-top: 3px; 
    font-size: 1.25rem; 
}

section#timeline article div.inner h2 {
    padding: 20px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
}

section#timeline article div.inner h2:after {
    content: '';
    position: absolute;
    top: 20%;
    right: -5px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
}

section#timeline article div.inner p {
    padding: 15px;
    margin: 0;
    font-size: 18px;
    background: #fff;
    color: #656565;
    border-radius: 0 0 6px 6px;
}

section#timeline article:nth-child(2n+2) div.inner {
    float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
}
section#timeline article:nth-child(n) div.inner h2 {
    background: #25303B;
}
section#timeline article:nth-child(n) div.inner h2:after {
    background: #25303B;
}
@media (max-width:1038px) {
    html{
        font-size: 80%;
    }
    .container {
        background-size: contain;
        min-height: 50vh;
   }
}
@media (max-width:835px){
    .grid{
        grid-template-columns: 1fr;
    }
    #synopsis{
        padding: 5rem 4rem;
    }
    .image{
        min-width: 80vw;
        min-height: 40vh;
    }  
}
@media (max-width:646px) {
    .tag-line{
        margin-bottom: 2rem;
    }
   .btn-default1,.btn-default2{
    padding: 0.5rem;
    margin: 0.5rem;
   }
}
@media(max-width:520px){
    html{
        font-size: 10px;
    }
    section#timeline article div.inner
    {
            width: 100%;
    }
    section#timeline article div.inner span.date
    {
        top: 0;
    }
    section#timeline article div.inner h2
    {
        margin-top: 50px;
    }
}
